/* EditarObituarios.css */

.formObituarios-header {
    background-color: #f8f9fa;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

.formObituarios-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #343a40;
    text-align: center;
    margin: 0;
}

.formContainer {
    padding: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filters input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.grid-item {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}

.nombrePersona {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.btn-edit, .btn-delete {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.btn-delete:hover {
    background-color: #c82333;
}

