/* SidebarPanel.css */


.sidebar {
  background-color: #131A1F;
  color: white;
  padding: 20px 0 0 10px;
  width: 20%;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; /* Asegura que no haya contenido sobresaliente */
  margin: 0; /* Elimina cualquier margen */
}

.search-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
}

.menu-section h3 {
  margin-bottom: 15px;
  padding-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-bottom: 10px;
}

.menu-list li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-list li a:hover,
.menu-list li a.active {
  background-color: #1F2A30;
  color: #ddd;
}


@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding: 10px; /* Ajusta el padding para pantallas pequeñas */
  }

  .menu-section h3,
  .menu-list li a {
      text-align: center;
      padding: 10px; /* Ajusta el padding para los elementos del menú */
  }

  .menu-list li a {
      padding: 15px; /* Ajusta el padding para que los enlaces sean más fáciles de tocar en dispositivos táctiles */
  }
}


  